<li class="todo-item {{#if completed}}completed{{/if}}">
  <form class="toggle-form" action="/{{_id}}/toggle" method="POST">
    <input
      type="checkbox"
      onchange="this.form.submit()"
      {{#if completed}}checked{{/if}}
      aria-label="Toggle task completion"
    >
  </form>
  <span class="title" title="{{title}}">{{title}}</span>
  <div class="actions" role="group" aria-label="Task actions">
    <a href="/{{_id}}/edit" class="btn btn-secondary">Edit</a>
    <form action="/{{_id}}/delete" method="POST">
      <button type="submit" class="btn btn-danger" aria-label="Delete task">Delete</button>
    </form>
  </div>
</li>
